# Model weights (too large for GitHub)
*.pth

# Dataset
data/
ai-artbench/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Misc
sample_batch.png


# Model weights (too large for GitHub)
*.pth




